<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="api_get_url" value="http://localhost:9010/api/v1/controller/100" />
    <add key="api_post_url" value="http://localhost:9010/api/v1/controller"/>
    <add key="api_post_json_path" value="../../data/api-post-body.json"/>
    <add key="api_put_url" value="http://localhost:9010/api/v1/controller/100"/>
    <add key="api_put_json_path" value="../../data/api-put-body.json"/>
    <add key="api_delete_url" value="http://localhost:9010/api/v1/controller/100"/>
    <add key="auth_token_url" value="" />
    <add key="client_id" value=""/>
    <add key="client_secret" value=""/>
    <add key="audience" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>